<!-- First section in index -->
<div id="indexSectionContainer1" class="container">
  <div id="indexImageRow1" class="row">
    <div id="indexSectionText1" class="jumbotron text-center invis-bg">
      <h1 id="indexText1" class="indexText1 vert-center">Some Basic Text For Sampling Out!</h1>
      <%= image_tag "stock_doctor_1", id: "indexImage1" %>
    </div>
  </div>
</div>
