<div id="headerContainer" class="container affix-top">
  <div class="row">
    <div id="logoContainer" class="col-sm-4">
      <%= image_tag "Logo", id: "indexLogo" %>
    </div>
    <div id="indexNavContainer" class="col-sm-8">
      <nav id="indexNav" class="navbar navbar-collapse">
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll headerNav" href="#indexChallenge">Challenge</a>
            </li>
            <li>
              <a class="page-scroll headerNav" href="#indexAbout">About</a>
            </li>
            <li>
              <a class="page-scroll headerNav" href="#indexImpact">Impact</a>
            </li>
            <li>
              <a class="page-scroll headerNav" href="#indexTeam">Team</a>
            </li>
            <li>
              <a class="page-scroll headerNav" href="#indexGetInvolved">Get Involved</a>
            </li>
            <li>
              <a class="page-scroll headerNav" href="#indexContact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
