<!-- Third section in index -->
<div id="indexSectionContainer3" class="container sectionContainer">
  <div id="indexSection3Row1" class="row">
    <div id="indexSection3Text1" class="jumbotron text-center invis-bg indexSectionText">
      <h4 id="indexText5" class="indexText1">
        ReCAP is a groundbreaking initiative run by student 
        advocates and volunteers in conjunction with healthcare 
        leaders. We are leading the Patient-Communication Movement 
        by developing our own patient-feedback system for resident 
        physicians. We are powered by the people for the people.
      </p>
    </div>
  </div>
</div>
