<!-- Third section in index -->
<div id="indexSectionContainer3" class=container>
  <div id="indexRow3" class="row">
    <div id="indexSectionText3" class="jumbotron text-center invis-bg">
      <p id="indexRecapStatement">ReCAP Statement Goes Here</p>
    </div>
  </div>
</div>
