<!-- Second section in index -->
<div id="indexSectionContainer2" class="container">
  <div id="indexRow2" class="row">
    <div id="indexSectionText2" class="jumbotron text-center invis-bg">
      <h1 class="indexSectionTextHeader">ReCAP Sentence</h1>
      <p>Tell some more about ReCAP</p>
    </div>
  </div>
</div>
