<!-- Second section in index -->
<div id="indexSectionContainer2" class="container sectionContainer">
  <div id="indexSection2Row1" class="row">
    <div id="indexSection2Text1" class="jumbotron text-center invis-bg indexSectionText">
      <h4 id="indexText3" class="indexText1">
        ReCAP strives to harness the power of people to foster better patient-physician relationships and advance the field of patient-communication.
      </h4>
    </div>
  </div>
  <div id="indexSection2Row2" class="row">
    <div id="indexSection2Text2" class="jumbotron text-center invis-bg indexSectionText">
      <h4 id="indexText4" class="indexText1">
        We've built _______ bonds.        
      </h4>  
    </div>
  </div>
</div>
