<!-- First section in index -->
<div id="indexSectionContainer1" class="container">
  <div id="indexImageRow1" class="row">
    <div class="col-sm-12 text-center">
      <h1 id="indexText1" class="indexText1 hori-center">Some Basic Text For Sampling Out!</h1>
      <%= image_tag "stock_doctor_1", id: "indexImage1" %>
    </div>
  </div>
</div>
