<!-- First section in index -->
<div id="indexSectionContainer1" class="container sectionContainer">
  <div id="indexSection1Row1" class="row">
    <div id="indexSection1Text1" class="jumbotron text-center invis-bg indexSectionText">
      <h4 id="indexText1" class="indexText1">
        The sacred patient-physician relationship is at risk to the future of medicine. We are trying to disrupt the healthcare system.
      </h4>
    </div>
  </div>
  <div id="indexSection1Row2" class="row">
    <div id="indexSection1Text2" class="jumbotron text-center invis-bg indexSectionText">
      <h4 id="indexText2" class="indexText1">
        It is always a win-win situation. Studies show that patient-centered, empathetic communication leads to better patient recovery from discomfort and concern as well as as improvement physician's well-being.
      </h4>  
    </div>
  </div>
</div>
