<!-- First section in index -->
<div id="indexSectionContainer1" class="container sectionContainer">
  <div id="indexSection1Row1" class="row">
    <div id="indexSection1Text1" class="jumbotron text-center invis-bg indexSectionText">
      <h4 id="indexText1" class="indexText1">
        The sacred patient-physician relationship is at risk to the 
        future of medicine. 
        <h5>We are trying to disrupt the healthcare system.</h5>
      </h4>
    </div>
  </div>
  <div id="indexSection1Row2" class="row">
    <div id="indexSection1Text2" class="jumbotron text-center invis-bg indexSectionText">
      <h4 id="indexText2" class="indexText1">
        It is always a win-win situation. 
        <h5>
          Studies show that patient-centered, empathetic communication 
          leads to better patient recovery from discomfort and concern 
          as well as as improvement physician's well-being.
        </h5>
      </h4>  
    </div>
  </div>
  <div id="indexSection1Row3" class="row text-center downArrowContainer">
    <%= image_tag "down_arrow.png", id: "section1Down", class: "downArrow" %>
  </div>
</div>
<script>
  var indexSection1Down = new pageDownAnimation ("section1Down",
                                                 "indexSectionContainer2",
                                                 69);
</script>
