<div id="appContainer">
  <div id="indexContentContainer">
    <!-- Render first section on page -->
    <%= render "index_section_1" %>
  
    <!-- Render second section on page -->
    <%= render "index_section_2" %>
  
    <!-- Render third section on page -->
    <%= render "index_section_3" %>
  </div>
</div>
