<div id="appContainer">
  <!-- Render header at top of page -->
  <%= render "index_header" %>

  <div id="indexContentContainer">
    <!-- Render first section on page -->
    <%= render "index_section_1" %>
  
    <!-- Render second section on page -->
    <%= render "index_section_2" %>
  
    <!-- Render third section on page -->
    <%= render "index_section_3" %>
  
    <!-- Render footer on page -->
  </div>
</div>
