// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * CSS for header
 */
#headerContainer {
  background-color: #fdcc52;
  background: linear-gradient(#225dfb,#0d32f3);
}

#indexLogo {
  height: 50px;
}
