// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * CSS Animations for index
 */
@keyframes arrowFloat {
  0% {
    top: 0px;
  }

  20% {
    top: 3px;
  }

  25% {
    top: 4px;
  }

  30% {
    top: 3px;
  }

  50% {
    top: 0px;
  }

  70% {
    top: -3px;
  }

  75% {
    top: -4px;
  }

  80% {
    top: -3px;
  }

  100% {
    top: 0px;
  }
}

/*
 * CSS for section containers
 */
#appContainer {
  position: relative;
  margin-top: 69px;
}

.downArrow {
  position: relative;
  height: 64%;
  animation: arrowFloat 2.5s infinite;
  animation-timing-function: linear;
}

.downArrowContainer {
  height: 27%;
}

/*
 * CSS for section 1
 */
div.sectionContainer {
  height: calc( 100vh - 69px );
  width: 100%;
}

div.row div.indexSectionText {
  margin-bottom: 0px;
  padding: 0px 10vw 0px 10vw;
}

#indexSection1Row1 {
  position: relative;
  height: 40%;
}

#indexSection1Text1 {
  position: relative;
  top: 32%;
}

.indexText1 {
    font-weight: 300;
    color: #35373b;
    z-index: 1;
}

#indexSection1Row2 {
  position: relative;
  height: 33%;
}

#indexSection1Text2 {
  position: relative;
  top: 4%;
}

#indexSection1Row3 {
  height: 27%;
}

/*
 * CSS for section 2
 */
#indexSection2Row1 {
  height: 50%;
}

#indexSection2Text1 {
  position: relative;
  top: 37%;
}

#indexSection2Row2 {
  height: 23%;
}

#indexSection2Text2 {
  position: relative;
  top: 4%
}

#indexSection2Row3 {
  height: 27%;
}

/*
 * CSS for section 3
 */
#indexSection3Row1 {
  height: 100%;
}

#indexSection3Text1 {
  position: relative;
  top: 26%;
}

/*
 * CSS for unfinished pages
 */
.unfinished {
  margin-top: 69px;
  height: calc( 100vh - 69px );
}

div.unfinished img {
  position: relative;
  height: 100%;
  width: 100%;
}
