<!-- Footer in index -->
<section id="footerContainer">
  <div class="container">
    <div id="footerRow" class="row text-center">
      <ul class="list-inline list-social">
        <li class="social-twitter list-item-social">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="social-facebook list-item-social">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="social-google-plus list-item-social">
          <a href="#" rel="publisher" target="_top">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
